* {
    margin:0;
    
}
/* header*/
header {
    background: url(../images/header.jpg);
    height: 900px;
    text-align: center;
div {
    .logo{
    width:155px;
    height: 75px;
    margin-left:-50px;
}
}
nav { 
    ul{
      display: flex;
      flex-direction: row;
      
    }
}
/*h1*/
.link1,.link2 {
        text-align: center;
        display: inline-block;
        margin-left:35px;  
        width: 238px;
        height: 40px;    
        padding-top : 24px;}
 a {color:#fff;
 text-decoration: none;}   

.link1 {border: 3px solid #fff;
        background-color: #888e93;
          
       }
.link2 {border: 1px solid #f1d204;
        background-color: #f1d204;
       }

h1 {color: #fff;
    font-size:50px;
    padding-top:100px;}
    
    

span {color:yellow;}